@import url(https://fonts.googleapis.com/css?family=Righteous);

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  height: 100%;
  background-color: #751d0c;
}
div.Main {
  display: flex;
  width: 100%;
  height: 100%;
  /* background-color: #85200c; */
}
div.container {
  display: flexbox;
  height: 100%;
}
nav {
  position: relative;
  width: 0;
  /* height: 100vh; */
  /* background-color: red; */
}
/* Side Menu */
div.On-sidebar {
  height: 100%;
  position: fixed;
  width: 300px;
  top: 0;
  left: -300px;
  background-color: #520f01;
  /* border: 1px solid #6d1807; */
  z-index: 30;
  transition: 0.35s;
}
input#menu-button {
  display: none;
}
input#menu-button + label {
  display: block;
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
  z-index: 31;
}
input#menu-button + label span {
  display: block;
  position: absolute;
  width: 50%;
  height: 4px;
  left: 20%;
  /* transform: translateX(-50%); */
  background-color: black;
  transition: 0.35s;
}
input#menu-button:checked ~ div.On-sidebar {
  left: 0;
}
input#menu-button + label span:nth-child(1) {
  top: 30%;
}
input#menu-button + label span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
input#menu-button + label span:nth-child(3) {
  bottom: 30%;
}

input#menu-button:checked + label span:nth-child(1) {
  transform: rotate(225deg);
  top: 50%;
  background-color: white;
}
input#menu-button:checked + label span:nth-child(2) {
  visibility: hidden;
  transform: rotate(50deg) translateY(10%);
  transition: 0.05s;
  background-color: white;
}
input#menu-button:checked + label span:nth-child(3) {
  transform: rotate(135deg) translateY(10%);
  top: 50%;
  background-color: white;
}

/* 홈 화면 */

h1 {
  color: #ffffff;
  position: relative;
  font-family: 'Righteous', serif;
  font-size: 30vmin;
  text-shadow: 0.02em 0.01em 0 #751d0c;
  z-index: 1;
}
h1:after {
  content: attr(data-shadow);
  position: absolute;
  top: 0.025em;
  left: 0.06em;
  z-index: -1;
  text-shadow: none;
  background-image: linear-gradient(
    45deg,
    transparent 45%,
    rgb(255, 255, 255) 45%,
    rgb(255, 255, 255) 55%,
    transparent 0
  );
  background-size: 0.05em 0.05em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shad-anim 15s linear infinite;
}

@keyframes shad-anim {
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 100% -100%;
  }
}
div.container {
  display: block;
  position: relative;
  width: auto;
  overflow: visible;
  /* margin: 0 100vw; */
  padding: 0 3%;
  left: 50%;
  transform: translateX(-50%);
}
div.container span {
  display: block;
  position: absolute;
  transition: all 0.35s;
  background-color: rgb(255, 255, 255);
  z-index: 2;
}
div.container span:nth-child(1) {
  height: 10px;
  width: 0;
  top: 0;
  left: 0;
}
div.container span:nth-child(2) {
  width: 10px;
  height: 0;
  top: 0;
  right: 0;
}
div.container span:nth-child(3) {
  height: 10px;
  width: 0;
  bottom: 0;
  right: 0;
}
div.container span:nth-child(4) {
  width: 10px;
  height: 0;
  bottom: 0;
  left: 0;
}
div.container:hover span:nth-child(1) {
  width: 100%;
}
div.container:hover span:nth-child(2) {
  height: 100%;
  transition-delay: 0.35s;
}
div.container:hover span:nth-child(3) {
  width: 100%;
  transition-delay: 0.7s;
}
div.container:hover span:nth-child(4) {
  height: 100%;
  transition-delay: 1.05s;
}
