@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  height: 100%;
  background-color: #751d0c;
}
div.home {
  display: flex;
}
div.home-container {
  top: 150px;
}
.main-container {
  display: block;
  position: relative;
  width: 90vw;
  height: 100vh;
  margin-left: 10vw;
}
.main__h1 {
  color: white;
  font-size: 300%;
  font-family: "Righteous", serif;
}

/* 사이드 내부 컨텐츠 */

.side-bar > ul {
  position: relative;
  text-align: center;
  margin-top: 50px;
}
.side-bar > ul > li:hover {
  background-color: #621406;
}
.side-bar > ul > li > a {
  display: block;
  color: white;
  font-size: 120%;
  font-weight: bold;
  font-family: "Noto Sans KR", sans-serif;
  padding: 15px 0;
}

/* 사이드 아이콘, 이동 애니메이션 */

:root {
  /* 사이드바 변수  */
  --side-bar-width: 270px; /* 사이드바 너비 */
  --side-bar-height: 90vh; /* 사이드바 높이 */
  --side-bar-transiton: 0.45s; /* transition 시간 */
}

.side-bar {
  position: fixed;
  background-color: rgb(65, 0, 0);
  width: var(--side-bar-width);
  height: var(--side-bar-height);
  margin: calc((100vh - var(--side-bar-height)) / 2) 0;
  border-radius: 20px;
  transform: translate(calc(var(--side-bar-width) * -0.8));
  transition: all var(--side-bar-transiton);
  z-index: 31;
}
.side-bar:hover {
  /* 사이드바에 마우스 오버시 오른쪽으로 가져오기 */
  transform: translate(-20px);
}

.side-bar__icon-box {
  display: flex;
  justify-content: flex-end;
}
.side-bar__icon {
  position: relative;
  width: 23px;
  height: 17px;
  margin: 15px;
  margin-top: 20px;
  transition: all var(--side-bar-transiton);
}

/* div (화살표 아이콘) */
.side-bar__icon > div {
  position: absolute;
  width: 100%;
  height: 20%;
  background-color: #ffffff;
  transition: all var(--side-bar-transiton);
}
.side-bar__icon > div:nth-child(1) {
  top: 0;
  width: auto;
  left: 0;
  right: 0;
  transition: all var(--side-bar-transiton),
    height calc(var(--side-bar-transiton)) 0s,
    left calc(var(--side-bar-transiton) / 2) calc(var(--side-bar-transiton) / 2),
    right calc(var(--side-bar-transiton) / 2)
      calc(var(--side-bar-transiton) / 2);
}
.side-bar__icon > div:nth-child(2) {
  top: 40%;
  transform-origin: left bottom;
}
.side-bar__icon > div:nth-child(3) {
  top: 80%;
  right: 0;
  transform-origin: right bottom;
}
.side-bar:hover .side-bar__icon > div:nth-child(1) {
  /* 1번째 막대기 변형 */
  width: auto;
  left: 40%;
  right: 40%;
  height: 100%;
  transition: all var(--side-bar-transiton),
    height calc(var(--side-bar-transiton) / 2)
      calc(var(--side-bar-transiton) / 2),
    left calc(var(--side-bar-transiton) / 2) 0s,
    right calc(var(--side-bar-transiton) / 2) 0s;
}
.side-bar:hover .side-bar__icon > div:nth-child(2) {
  /* 2번째 막대기 회전 */
  transform: rotate(45deg);
  width: 70%;
}
.side-bar:hover .side-bar__icon > div:nth-child(3) {
  /* 3번째 막대기 회전, 위치 이동 */
  transform: rotate(-45deg);
  top: 40%;
  width: 70%;
}
.side-bar:hover .side-bar__icon {
  /* 아이콘 이동안되게 고정. 사이드바 움직인 만큼 움직인다. */
  transform: translate(calc(var(--side-bar-width) * -0.8 + 20px));
}

/* 홈 화면 */

h1.home__h1 {
  color: #ffffff;
  position: relative;
  font-family: "Righteous", serif;
  font-size: 30vmin;
  text-shadow: 0.02em 0.01em 0 #751d0c;
  cursor: pointer;
  user-select: none;
  z-index: 1;
}
h1.home__h1:after {
  content: attr(data-shadow);
  position: absolute;
  top: 0.025em;
  left: 0.06em;
  z-index: -1;
  text-shadow: none;
  background-image: linear-gradient(
    45deg,
    transparent 45%,
    rgb(255, 255, 255) 45%,
    rgb(255, 255, 255) 55%,
    transparent 0
  );
  background-size: 0.05em 0.05em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shad-anim 15s linear infinite;
}

@keyframes shad-anim {
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 100% -100%;
  }
}
div.home-container {
  display: block;
  position: relative;
  width: auto;
  overflow: visible;
  /* margin: 0 100vw; */
  padding: 0 3%;
  left: 50%;
  transform: translateX(-50%);
}
div.home-container span {
  display: block;
  position: absolute;
  transition: all 0.35s;
  background-color: rgb(255, 255, 255);
  z-index: 2;
}
div.home-container span:nth-child(1) {
  height: 10px;
  width: 0;
  top: 0;
  left: 0;
}
div.home-container span:nth-child(2) {
  width: 10px;
  height: 0;
  top: 0;
  right: 0;
}
div.home-container span:nth-child(3) {
  height: 10px;
  width: 0;
  bottom: 0;
  right: 0;
}
div.home-container span:nth-child(4) {
  width: 10px;
  height: 0;
  bottom: 0;
  left: 0;
}
div.home-container:hover span:nth-child(1) {
  width: 100%;
}
div.home-container:hover span:nth-child(2) {
  height: 100%;
  transition-delay: 0.35s;
}
div.home-container:hover span:nth-child(3) {
  width: 100%;
  transition-delay: 0.7s;
}
div.home-container:hover span:nth-child(4) {
  height: 100%;
  transition-delay: 1.05s;
}
 .new {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px; /* 전체 섹션을 오른쪽으로 이동 */
}

.new section {
    padding: 10px;
    display: flex;
    flex-direction: column; /* 섹션을 세로로 정렬 */
    align-items: center; /* 가운데 정렬 */
    text-align: center; /* 텍스트 중앙 정렬 */
}

.new section .section-content {
    margin-top: 10px; /* 섹션 간격 조절 */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.new a {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: row; /* 섹션을 세로로 정렬 */
    justify-content: flex-end; /* 오른쪽으로 정렬 */
    margin-right: 50px; /* 링크를 오른쪽으로 이동 */
}

.new .section-content img {
    max-width: 100%; /* 이미지 최대 너비 */
    max-height: 100%; /* 이미지 최대 높이 */
    border-radius: 15%; /* 원형 이미지를 위한 경계 반지름 설정 */
    margin-right: 50px; /* 이미지를 오른쪽으로 이동 */
}

.new .section-content h2 {
    margin: 50px; /* 글씨의 상단 여백 제거 */
}

.new .section-link {
    font-size: 50px; /* 링크의 글자 크기 조절 */
    text-decoration: none; /* 링크의 밑줄 제거 */
    font-weight: bold; /* 링크의 글자를 굵게 표시 */
    display: block; /* 링크를 블록 수준 요소로 설정하여 너비를 최대로 확장 */
    margin-bottom: 10px; /* 링크 아래 여백 설정 */
}
